# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Describe some popular languages for Data Science
* Describe popular libraries for Data Science
* Use lists in Jupyter notebooks
* write arithmetic operations in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Plotly
3. Pandas
4. Matplotlib
5. ggplot

|Data Science Tools|
|------|
|Jupyter|
|Rstudio|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
print(200/60,'Hours')
print('or')
print(round(200/60),'Hours',200%60,'minutes')

3.3333333333333335 Hours
or
3 Hours 20 minutes

## Author
Brayan Gaona